.menuContainer {
    display: flex;
    align-items: center;
    background-color: #e1a95f;
    padding: 10px 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo img {
    height: 50px;
}

.menu {
    margin-left: 30px; 
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px; 
}

.search {
    display: flex;
    gap: 20px;
    font-weight: 500;
    margin-left: auto; 
}

/* ================================================================================================================== */

.personaje-detalle {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo-personaje {
    font-size: 2.8rem;
    text-align: left;
    color: #661d1a;
    margin-bottom: 30px;
}

.img-personaje img {
    width: 80%;
    max-width: 600px;
    border-radius: 12px;
    border: 4px solid #661d1a;
    display: block;
    margin: 0 auto;
}

.descripcion-personaje {
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    line-height: 1.6;
    color: #662d1a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video-container video {
    width: 70%;
    border-radius: 10px;
}