.menuContainer {
    display: flex;
    align-items: center;
    background-color: #e1a95f;
    padding: 10px 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo img {
    height: 50px;
}

.menu {
    margin-left: 30px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.search {
    display: flex;
    gap: 20px;
    font-weight: 500;
    margin-left: auto;
}



.seccion-capitulos {
    width: 100%;
    padding: 40px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo-cap {
    font-size: 2.8rem;
    text-align: left;
    color: #661d1a;
    margin-bottom: 50px;
}


.cap-horizontal {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 60px;
    width: 100%;
}

.cap-img img {
    width: 320px;
    max-width: 100%;
    border: 4px solid #661d1a;
    border-radius: 12px;
}

.cap-texto {
    width: 100%;
}

.cap-texto h2 {
    font-size: 1.8rem;
    color: #661d1a;
    margin-bottom: 15px;
}

.cap-texto p {
    color: #662d1a;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    max-width: 90%;
}



@media (max-width: 768px) {
    .cap-horizontal {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cap-texto p {
        max-width: 100%;
    }
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video-container video {
    width: 70%;
    border-radius: 10px;
}