.menuContainer {
    display: flex;
    align-items: center;
    background-color: #e1a95f;
    padding: 10px 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo img {
    height: 50px;
}

.menu {
    margin-left: 30px; 
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px; 
}

.search {
    display: flex;
    gap: 20px;
    font-weight: 500;
    margin-left: auto; 
}

/* ============================================================================================ */


.imgYtexto {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 20px;
    background-color: #ffffff;
    color: #661d1a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 20px; 
}

.flyer img {
    width: 350px;
    height: auto;
    border-radius: 12px;
    border: solid;
}


.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
}


.contenido h1 {
    font-size: 2.2rem;
    margin: 0;
}

.contenido button {
    background-color: #e1a95f;
    color: #ffffff;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    width: fit-content;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.05); /* lo agranda un poco */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* añade sombra */
}


.contenido p {

    color: #662d1a;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ======================================================================================================================= */

.capitulos > h1 {
  text-align: left;
  font-size: 2em;
  color: #662d1a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

.capitulos .lista-caps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.capitulos .cap {
  width: 30%;
  text-align: left;
  padding: 15px;
}

.capitulos .cap img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: solid #661d1a;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);}

.capitulos .cap h1 {
  font-size: 20px;
  color: #661d1a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

.capitulos .cap p {
  font-size: 12px;
  color: #661d1a;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}




.general { transform-origin: top center;
    width: 1250px;
    margin: 0 auto;
    transform: scale(var(--scale));
  }


  /* Tarjetas========================================================================================================================= */

  .card {border: 1px solid #eee;
  padding: 12px;
border-radius: 10px;
background: #e1a95f;
background-color: #662d1a;
width: 220px;
height: 300px;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}


.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.card h3 {
  font-size: 16px;
  margin: 5px 0 10px 0;
  color: #662d1a;
  font-weight: 700;
}

.card p{
  margin: 0;
  color: var(--muted);
  font-size: 8px;
}

.card:hover{
  transform: translateY(4px);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
}
